// Fuentes
$fuente_principal: "Montserrat", sans-serif;

// Colores
$rosa: #f53756;
$verde: #4cb8b3;
$amarillo: #fef46d;
$morado: #752f97;

// Tamaños Media Queries
$telefono: 480px;
$tablet: 768px;
$pc: 992px;
$pcXL: 1200px;